* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

button,
input {
  border: none;
  background: transparent;
  font: inherit;
  font-size: 16px;
  color: #898989;
}
a {
  text-decoration: none;
  color: #898989;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h3 {
  font-weight: bold;
  font-size: 18px;
  margin: 0 0 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 70px 0 30px;
}
.logo-mobile,
.options {
  display: none;
}
.search-input {
  height: 44px;
  width: 830px;
  border-radius: 22px;
  background-color: #ebebeb;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 30px;
  padding: 0 17px 0 25px;

  img {
    width: 22px;
  }
}

.burger-menu {
  height: 25px;
  width: 20px;
  position: relative;
  span {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #1f2022;
    border-radius: 20px;
  }
  span::before,
  span::after {
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background-color: #1f2022;
    position: absolute;
    border-radius: 20px;
  }
  span::before {
    top: 4px;
  }
  span::after {
    bottom: 4px;
  }
}
.header-btns {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-icons {
  width: 260px;
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

// navigation

.main-container {
  margin: 30px 0 30px 30px;
  display: flex;
  overflow-x: hidden;
}

aside {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0;
  gap: 55px;
}
nav {
  display: flex;
  gap: 60px;
  flex-direction: column;

  ul {
    display: flex;
    gap: 29px;
    flex-direction: column;
    li {
      img {
        margin-right: 15px;
      }
      a {
        display: flex;
        align-items: center;
      }
    }

    li.active {
      a {
        color: #ff0000;
      }
    }
  }
  ul.second-list {
    gap: 29px;
  }
}
.user-info {
  display: flex;
  flex-direction: column;
}
.users {
  display: flex;
  gap: 23px;
  align-content: center;
  flex-direction: column;
  width: 165px;
}
.user {
  display: flex;
  align-items: center;
  gap: 10px;
}
.settings {
  width: 83px;
  margin: 50px 0 0 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-container {
  width: auto;
  max-width: 1595px;
  overflow-x: hidden;
}
.content {
  width: auto;
  display: flex;
  gap: 40px;
  h3 {
    font-size: 16px;
    margin: 5px 0 4px;
  }
}
.title {
  font-size: 26px;
  font-weight: bold;
}

// main

.main {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 60px;
  flex: 1;
  gap: 35px;
}
.content {
  display: flex;
  gap: 40px;
  h3 {
    font-size: 16px;
    margin: 5px 0 4px;
  }
}

.subtitle {
  font-size: 13px;
  color: #c2c2c2;
  display: flex;
  justify-content: space-between;
  text-wrap: nowrap;
}
.subtitle span:first-child {
  letter-spacing: 0.5px;
}
.heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0 30px;

  .user {
    gap: 20px;
    span {
      font-size: 26px;
      font-weight: bold;
    }
  }
}
h2 {
  font-size: 26px;
}
.recommended {
  .subtitle span:first-child {
    letter-spacing: 0px;
  }
  .subtitle span:last-child {
    letter-spacing: -0.6px;
  }
}
.videos {
  width: 85vw;
  // overflow-x: hidden;
  margin-top: 15px;
  .subtitle span:first-child {
    letter-spacing: 0.4px;
  }
  .user {
    .subtitle {
      font-size: 16px;
      font-weight: normal;
      margin: 5px 0 0;
    }
  }
  .heading {
    height: 60px;
    margin: 0 0 20px;
    align-items: center;
  }
  .controls {
    margin: 15px 150px 0 0;
    align-items: center;
  }
}
.controls {
  display: flex;
  gap: 10px;
  margin: 0 150px;
}
.arrow-btn {
  border-radius: 50%;
  background-color: #c2c2c2;
  height: 28px;
  width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscribe-btn {
  width: 156px;
  height: 40px;
  background-color: #ff0000;
  color: #fff;
  border-radius: 20px;
}
.footer {
  display: none;
  nav {
    width: 100vw;
  }
  nav ul {
    flex-direction: row;
    justify-content: space-between;
    margin: 12px 22px 11px 24px;
  }
  nav ul li a {
    flex-direction: column;
    gap: 5px;
  }
  nav ul li.active + li {
    margin: -3px 0 0 12px;
  }
  nav ul li img {
    margin-right: 0;
  }
}

.channel {
  margin: 0 70px 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .subtitle-16 {
    font-size: 16px;
    color: #c2c2c2;
  }
}
.channel-header {
  display: flex;
  justify-content: space-between;
}
.subscribe-btns {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 40px;
}
.cover {
  height: 280px;
  border-radius: 14px;
  background-image: url(./assets/channel/channel-cover.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: 0 0 10px;
  background-size: cover;
}
.channel-content {
  display: flex;
  justify-content: space-between;
}
.channel-info {
  display: flex;
  flex-direction: column;

  gap: 54px;
}
.channel-video {
  display: flex;
  align-items: center;
  max-width: 1120px;
  gap: 32px;
}
.video-info {
  p:nth-child(1) {
    width: 431px;
  }
  p:nth-child(2) {
    margin: 10px 0 30px;
  }
}
.channel-nav {
  display: flex;
  gap: 69px;
  height: auto;
  font-size: 18px;
  font-weight: bold;
  .active {
    color: #ff0000;
  }
  li.active:after {
    content: "";
    display: block;
    width: auto;
    height: 2px;
    background-color: #ff0000;
  }
  li:last-child {
    display: none;
  }
}
.channel-recommended {
  width: 190px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 80px 0 0;
  li {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: bold;
  }
}

@media (max-width: 1735px) {
  .channel-recommended {
    margin: 0;
  }
}
@media (max-width: 1660px) {
  .channel-video {
    flex-direction: column;
    align-content: start;
  }
  .channel-nav {
    gap: 30px;
  }
}
@media (max-width: 1420px) {
  .search-input {
    width: 430px;
  }
  .channel-content {
    flex-direction: column;
    gap: 60px;
  }
  .channel-recommended {
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .channel-nav {
    gap: 15px;
  }
  .videos {
    width: 75vw;
  }
}
@media (max-width: 1080px) {
  .search-input {
    width: 260px;
  }
  .main {
    margin: 0 0 0 20px;
  }
}
@media (max-width: 768px) {
  .main-container {
    margin: 0 10px;
    justify-content: center;
  }
  .main {
    margin: 0;
  }
  .header {
    margin: 10px 16px 5px;
    align-items: flex-start;
  }
  .header-btns {
    justify-content: space-between;
    margin: 0 10px 0 0;
    flex: 1;
  }
  .burger-menu {
    display: none;
  }
  .search-input {
    width: auto;
    background-color: transparent;
    align-items: flex-start;
    padding: 5px 14px 0 25px;

    input {
      display: none;
    }
    img {
      width: 19px;
    }
  }
  .header-icons {
    width: auto;
  }
  .header-icons button:nth-child(1),
  .header-icons button:nth-child(2),
  .header-icons button:nth-child(3) {
    display: none;
  }
  .header-icons button:nth-child(4) img {
    width: 30px;
    height: 30px;
  }
  aside {
    display: none;
  }
  .footer {
    display: flex;
    position: fixed;
    bottom: 0;
    background-color: #fff;
  }
  .videos{
    margin: 15px 0 85px;
  }
  .videos .controls {
    margin: 15px 0;
    align-items: center;
  }
  .channel{
    margin: 0;
  }
}
@media (max-width: 576px) {
  .header {
    align-items: center;
    margin: 2px 18px 15px;
  }
  .main-container {
    margin: 0 16px;
  }
  .header-icons {
    display: none;
  }
  .main {
    align-items: center;
    gap: 0;
  }
  .search-input {
    padding: 0;
    margin: 0 35px 0 0;
    align-items: center;
  }
  .logo-mobile,
  .options {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    img{
      margin-right: 8px;
    }
  }
  .options{
    margin: 0 -8px 0 0;
  }
  .logo {
    display: none;
  }
  .footer {
    font-size: 10px;
  }
  .cover {
    height: 100px;
    border-radius: unset;
    width: 100vw;
    position: absolute;
    left: 0;
    z-index: -1;
  }
  .user {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    img {
      width: 70px;
    }
  }
  .subscribe-btn {
    width: 120px;
    height: 34px;
    font-size: 12px;
  }
  .channel {
    margin: 0;
    align-self: flex-start;
    gap: 29px;
  }
  .channel-header {
    flex-direction: column;
    margin: 66px 0 0;
    gap: 20px;
  }
  .subscribe-btns {
    button:first-child {
      display: none;
    }
  }
  .heading {
    display: none;
  }
  .channel-nav {
    font-size: 14px;
    gap: 40px;
    li:nth-child(4),
    li:nth-child(5),
    li:nth-child(6),
    li:nth-child(7) {
      display: none;
    }
    li:last-child {
      display: block;
    }
  }
  .channel-video,
  .channel-recommended {
    display: none;
  }
  .videos {
    width: auto;
    margin-top: 20px;
    height: 600px;
    overflow-y: hidden;
  }
  .content {
    flex-direction: column;
    width: max-content;
    gap: 30px;
    .item:nth-child(4),
    .item:nth-child(5),
    .item:nth-child(6) {
      display: none;
    }
  }
  .item {
    img {
      width: 288px;
      height: 150px;
    }
  }
  .title {
    font-size: 20px;
  }
  .subtitle {
    font-size: 12px;
  }
}
