.title{
    font-size: 26px;
    font-weight: bold;
}
.subtitle{
    color: #C2C2C2;
    font-size: 13px;
}
.show-more{
    color: #C2C2C2;
    font-size: 20px;
}
.subscribe-btn{
    width: 156px;
    height: 40px;
    background-color: #ff0000;
    color: #fff;
    border-radius: 20px;
  }
.description{
    padding: 38px 0 0;
    border-top: 1px solid #D8D8D8;
    display: flex;
    justify-content: space-between;
    .info{
        display: flex;
        gap: 8px;
        width: 67%;
        img{
            width: 80px;
            height: 80px;
            flex: 0;
        }
        p:nth-child(3){
            margin: 25px 0 15px;
            line-height: 1.3;
        }
    
    }
}
