// @import url(./description.scss);
.main-container {
  margin: 30px 70px 0 80px;
  display: flex;
  gap: 40px;
  height: 100vh;
  overflow-y: hidden;
}
.main {
  width: 78%;
}
a {
  text-decoration: none;
  color: #898989;
}
.img-container{
  position: relative;
}
.timer{
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgba($color: #000000, $alpha: 0.3);
  color: #fff;
  border-radius: 12px;
  width: 47px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1080px) {
  .main-container {
    margin: 30px 30px 0 40px;
    gap: 20px;
  }
  .title {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
    gap: 20px;
  }
  .main{
    width: 100%;
  }
  .title {
    font-size: 16px;
  }
}
