.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ebebeb;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  background-color: #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.slider.round {
  border-radius: 14px;
}

.slider.round:before {
  border-radius: 14px;
}

.next-videos {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 26px;
}
.heading {
  font-size: 36px;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.label {
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 11px;
  color: #19202c;
  letter-spacing: 0.9px;
}
.item {
  width: 367px;
  .img-container{
    height: 213px;
  }
  img {
    height: 100%;
    width: 100%;
  }
  h3 {
    font-size: 26px;
    margin: 10px 0;
  }
  .subtitle {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 1820px) {
  .heading {
    font-size: 28px;
  }
  .item {
    h3 {
      font-size: 20px;
    }
    .subtitle {
      font-size: 14px;
    }
  }
}
@media (max-width: 1440px) {
  .item {
    width: 270px;
    .img-container {
      height: 180px;
    }
  }
}
@media (max-width: 1080px) {
  .heading {
    font-size: 20px;
  }
  .label {
    font-size: 12px;
  }
  .item {
    width: 200px;
    .img-container {
      height: 120px;
    }
    h3 {
      font-size: 16px;
    }
    .subtitle {
      font-size: 10px;
    }
  }

}
@media (max-width: 768px) {
  .next-videos {
    margin: 0 20px 0 16px;
    align-items: center;
  }
  .heading{
    gap: 110px;
  }
  .item {
    width: 288px;
    .img-container {
      height: 150px;
    }
  }
}
@media (max-width: 576px) {
  .item{
    margin-bottom: 15px;
    .subtitle {
      font-size: 13px;
    }
  }
}