.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 28px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EBEBEB;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider:before {
    background-color: #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
  
  .slider.round {
    border-radius: 14px;
  }
  
  .slider.round:before {
    border-radius: 14px;
  }

  .next-videos{
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 22%;
  }
  .heading{
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .label{
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 11px;
    color: #19202C;
  }
  .item{
    width: 100%;
    img{
        width: inherit;
    }
    h3{
        font-size: 26px;
        margin: 13px 0 14px;
    }
    .subtitle{
        font-size: 18px;
        display: flex;
        justify-content: space-between;
    }
  }
