.video-container {
  position: relative;
  img {
    width: 100%;
    height: 100%;
  }
}
.video-controls {
  position: absolute;
  bottom: 33px;
  left: 33px;
  right: 33px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-size: 22px;
}
.progress-bar {
  height: 10px;
  border-radius: 5px;
  background-color: rgba($color: #fff, $alpha: 0.2);
}
.progress-bar::before {
  content: "";
  display: block;
  height: 10px;
  background-color: #ff0000;
  width: 30%;
  border-radius: inherit;
}
.times,
.controls {
  display: flex;
  justify-content: space-between;
}
.controls {
  margin: 0 10px;
}
.left-controls,
.right-controls {
  display: flex;
  align-items: center;
}
.left-controls {
  gap: 40px;
}
.right-controls {
  gap: 25px;
}
.volume {
  width: 86px;
  height: 8px;
  background-color: rgba($color: #fff, $alpha: 0.2);
  border-radius: 4px;
  margin: 0 0 2px -20px;
}
.volume::before {
  content: "";
  display: flex;
  height: 8px;
  width: 30%;
  background-color: #fff;
  border-radius: 4px;
}
.info {
  display: flex;
  justify-content: space-between;
}
.btns {
  display: flex;
  gap: 10px;
  button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      margin-right: 5px;
    }
  }
  button:last-child {
    background-color: transparent;
    width: auto;
    margin: 0 0 0 25px;
  }
}
.video-player {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px;
  & > img {
    width: 100%;
  }
  .info {
    align-items: center;
  }
  .title {
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0 5px;
  }
  .subtitle {
    font-size: 20px;
    color: #c2c2c2;
  }
}
@media (max-width: 1440px) {
  .times {
    font-size: 10px;
  }
  .video-controls {
    gap: 10px;
  }
  .progress-bar,
  .progress-bar::before {
    height: 5px;
  }
  .volume {
    display: none;
  }
  .video-player {
    .title {
      font-size: 26px;
      margin: 20px 0;
    }
    .subtitle {
      font-size: 16px;
    }
  }
  .btns {
    font-size: 12px;
    button {
      width: 80px;
      height: 30px;
    }
  }
}
@media (max-width: 1080px) {
  .btns {
    font-size: 12px;
    button {
      width: 80px;
      height: 30px;
    }
  }
}
@media (max-width: 768px) {
  .video-player {
    & > img {
      height: 320px;
    }
    .title {
      font-size: 20px;
    }
    .subtitle {
      font-size: 12px;
    }
    .title,
    .info {
      margin: 13px 16px 4px;
    }
    .info {
      flex-direction: column;
    }
  }
}
@media (max-width: 576px) {
  .video-container {
    height: 180px;
  }
  .controls {
    margin: 0 18px;
  }
  .video-player {
    & > img {
      height: 180px;
    }
    .info {
      margin: 0 16px 15px;
      gap: 20px;
      align-items: flex-start;
    }
  }
  .btns {
    button {
      font-size: 16px;
      width: 100px;
      height: 40px;
    }
    button:last-child {
      display: none;
    }
  }
  .video-controls {
    justify-content: center;
    height: 30px;
    background-color: rgba($color: #000000, $alpha: 0.4);
    border-radius: 10px;
    position: absolute;
    bottom: 8px;
    left: 6px;
    right: 6px;
  }
  .progress-bar {
    width: 156px;
  }
  .right-controls,
  .left-controls button:nth-child(2) {
    display: none;
  }
  .left-controls {
    width: 100%;
    justify-content: space-between;
    button {
      display: flex;
      align-items: center;
      img {
        width: 12px;
        height: 12px;
      }
    }
  }
  .times,
  .progress-bar {
    position: absolute;
    top: 10px;
    width: 100%;
  }
  .progress-bar {
    width: 50%;
    left: 23%;
    top: 13px;
  }
  .times {
    width: auto;
    left: 43px;
    right: 43px;
  }
}
