.video-container{
  position: relative;
  img{
    width: 100%;
  }
}
.video-controls{
  position: absolute;
  bottom: 33px;
  left: 33px;
  right: 33px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-size: 22px;
}
.progress-bar{
  height: 10px;
  border-radius: 5px;
  background-color: rgba($color: #fff, $alpha: 0.2);
}
.progress-bar::before{
  content: "";
  display: block;
  height: 10px;
  background-color: #FF0000;
  width: 30%;
  border-radius: inherit;
}
.times,
.controls{
  display: flex;
  justify-content: space-between;
}
.controls{
  margin: 0 10px;
}
.left-controls,
.right-controls{
  display: flex;
}
.left-controls{
  gap: 40px;
}
.right-controls{
  gap: 25px;
}
.info {
  display: flex;
  justify-content: space-between;
}
.btns {
  display: flex;
  gap: 10px;
  button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      margin-right: 5px;
    }
  }
  button:last-child {
    background-color: transparent;
    width: auto;
    margin: 0 0 0 25px;
  }
}
.video-player {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px;
  & > img {
    width: 100%;
  }
  .info {
    align-items: center;
  }
  .title {
    font-size: 36px;
    font-weight: bold;
    margin: 20px 0 5px;
  }
  .subtitle {
    font-size: 20px;
    color: #c2c2c2;
  }
}
@media (max-width: 1440px) {
  .video-player {
    .title {
      font-size: 26px;
      margin: 20px 0;
    }
    .subtitle {
      font-size: 16px;
    }
  }
  .btns {
    font-size: 12px;
    button {
      width: 80px;
      height: 30px;
    }
  }
}
@media(max-width: 1080px){
  .btns {
    font-size: 12px;
    button {
      width: 80px;
      height: 30px;
    }
  }
}
@media (max-width: 768px) {
  .video-player {
    & > img {
      height: 320px;
    }
    .title {
      font-size: 20px;
    }
    .subtitle {
      font-size: 12px;
    }
    .title,
    .info {
      margin: 13px 16px 4px;
    }
    .info {
      flex-direction: column;
    }
  }
}
@media (max-width: 576px) {
  .video-player {
    & > img {
      height: 180px;
    }
    .info {
      margin: 0 16px 15px;
      gap: 20px;
      align-items: flex-start;
    }
  }
  .btns {
    button{
      font-size: 16px;
      width: 100px;
      height: 40px;
    }
    button:last-child {
      display: none;
    }
  }
}
