* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

button {
  border: none;
  background: transparent;
}
button, input{
  font: inherit;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

